@model AgenciaSemStress.Models.ClientesModel

@{
    ViewData["Title"] = "Excluir";
}



<h3 class="texto">Tem certeza que deseja Excluir o Cadastro?</h3>
<div class="cardCadastro">
    <h4>Os Registros não poderão ser restaurados.</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogradouroCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogradouroCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UFCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UFCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NascimentoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NascimentoCliente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClienteID" />
        <input type="submit" value="Excluir" class="btn btn-cadastro btn-danger" /> |
        <a asp-action="Index" type="button" class="btn btn-cadastro btn-primary">Voltar</a>
    </form>
</div>
